#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navbar {
  width: 410px;
  display: flex;
  justify-content: center;
  gap: 25px;
  padding: 15px 0;
  background: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 10px;
  margin: 0 auto; /* centers the whole nav block */

}

.navbar a {
  text-decoration: none;
  color: #333;
  font-size: 17px;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.2s;
  font-weight: 500;
}

.navbar a:hover, .navbar a.active:hover {
  background: #007bff;
  color: white;
}



.navbar a.active {
  background: #449bff;
  color: white;
}


.disabled-link {
  pointer-events: none;
  opacity: 0.5;
}

