.home-container {
  text-align: center;
  margin-top: 40px;
  font-family: Arial, sans-serif;
}

.home-title {
  font-size: 90px;
  font-weight: bold;
  color: #449bff;
  margin-bottom: 10px;
}

.home-subtitle {
  font-size: 28px;
  margin-bottom: 15px;
  color: #333;
}

.home-text {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
}


